.input {
    height: 5em;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    outline: 1px solid;
    width: 50%;
    align-items: center;
    font-weight: 500;
    font-size: 1.4em;
}