.button-wrapper {
    padding: 18px;
    display: flex;
    height: 2em;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 2em;
    width: 100%;
    background-color: #e0e1e6;
    color: #000000;
    outline: 1px solid #888888
}
.operator {
    background-color: #09E6FE#fe9241;
  }