.clear-btn {
    height: 4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 1.4em;
    background-color: #c5c3cd;
    width: 50%;

}