.clear-btn {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.4em;
    background-color: #c5c3cd;
    width: 25%;
    transition: 0.4s;
    
}
.clear-btn:hover {
    background-color: aliceblue;
    
    

}