.history-input {
    overflow: scroll;
    height: 7em;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    outline: 1px solid;
    width: 50%;
    align-items: center;
    font-weight: 500;
    flex-direction: column;
}

.history-input::-webkit-scrollbar {
    width: 0.5em;
    border: none;
}
.history-input::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
.history-operator {
    display: flex;
    font-size: 1em;
}