.history-btn {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.4em;
    background-color: #9c88eb;
    width: 50%;
    transition: 0.4s;
    cursor: default;
}
.history-btn:hover {
    background-color: aliceblue;
}