.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;;

}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.operator {
  background-color: #fe9241;
}
.clear {
  display: flex;
  justify-content: flex-end
}